<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <title>Car Dealer</title>
  </head>
  <body>
    <div class="container">
      <h1>Search our inventory</h1>
      <form id="userInput" action="/car" method="post">
        <div class="form-group">
          <label for="priceInput">What is your max price?</label>
          <input id="priceInput" name="priceInput" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="milageInput">What is your max milage?</label>
          <input id="milageInput" name="milageInput" class="form-control" type="number">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Show me cars!</button>
        </div>
      </form>
      <form action="/sellcar" >
        <h1>Looking to Sell?</h1>
        <button type="submit" name="btn btn-info">Enter</button>
      </form>
      <h1>Now show me <em>all</em> the cars</h1>
      <form action="/inventory" method="post">
        <button type="submit">Let's see!</button>
      </form>
  </body>
</html>
