<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
    <h1>CAR INVENTORY</h1>
      {% for car in cars %}
        <h3>{{ car.getMakeModel }}</h3>
        <ul>
          <li>{{ car.getPrice }}</li>
          <li>{{ car.getMiles }}</li>
          <img src= {{ car.getCarPic }}>
        </ul>
      {% endfor %}
  </body>
</html>
