<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Sell Your Car!</title>
  </head>
  <body>
    <form action="/inventory" method="post">
      <div class="form-group">
        <label for="make_model">Enter the Make/Model</label>
        <input type="text" name="make_model">
      </div>
      <div class="form-group">
        <label for="price">Enter the price</label>
        <input type="text" name="price">
      </div>
      <div class="form-group">
        <label for="miles">Enter the Mileage</label>
        <input type="text" name="miles">
      </div>
      <div class="form-group">
        <label for="img">Enter a jpeg</label>
        <input type="text" name="img">
      </div>
      <button type="submit" name="btn btn-info">submit</button>
    </form>
  </body>
</html>
